.homeImg {
  background-image: url("/public/assets/home/Banner.jpg");
  width: 100%;
  height: 898px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.center_contant_home {
  padding-left: 260px;
  padding-top: 350px;
}
h3 {
  color: #68a47f;
  font-family: "Yellowtail";
}
