header {
  padding: 25px 0px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  background: var(--color);
}
.logo {
  width: 26px;
  display: flex;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.blockLogo {
  display: flex;
  align-items: center;
  gap: 2px;
}
h2 {
  color: #274c5b;
  font-family: "Roboto", sans-serif;
}
