.section_three {
  padding-top: 100px;
  display: flex;
  position: relative;
}
.bgImg {
  background-image: url(/public/assets/home/section_three/bg_img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 593px;
  height: 690.126px;
  border-radius: 45px;
}
.bgWhite {
  width: 489px;
  height: 523px;
  background-color: aliceblue;
  border-radius: 15%;
  position: absolute;
  right: 150px;
  bottom: 40px;
}
